{% extends 'app1/base.html' %}

{% block title %}Chat{% endblock title %}

{% block body %}
<h1 class='mb-6 text-3xl'>Új chat</h1>

<form class='bg-blue-100 p-6 rounded-xl' action="." method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <label for="">Üzenet az eladónak</label>
    {{ form.content }}
    {% if form.errors or form.non_field_errors %}
            <div class='mb-3 p-6 bg-red-100 rounded-xl'>
                {% for field in form  %}
                    {{field.errors}}
                {% endfor %}
                {{form.non_field_errors}}
            </div>
    {% endif %}

    <input class='cursor-pointer bg-teal-500 p-2 hover:bg-teal-700 rounded-xl mt-6' type="submit" value='Közzététel'>

</form>

{% endblock body %}