{% extends 'app1/base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block body %}
<h1 class='mb-6 sm:text-3xl'></h1>

<form class='bg-blue-100 p-6 rounded-xl' action="." method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="space-y-4">
        {% if form.category %}
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Kategória:</label><br>
            {{form.category}}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Termék megnevezése:</label><br>
            {{form.name}}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Leírás, adatok</label><br>
            {{form.description}}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Termék ára (forintban):</label><br>
            {{form.price}}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Kép a termékről:</label><br>
            {{form.image}}
        </div>
        {% if form.is_sold %}
        <div class='mb-3'>
            <label for="" class="inline-block mb-2">Eladva:</label><br>
            {{form.is_sold}}
        </div>
        {% endif %}
    </div>
    {% if form.errors or form.non_field_errors %}
            <div class='mb-3 p-6 bg-red-100 rounded-xl'>
                {% for field in form  %}
                    {{field.errors}}
                {% endfor %}
                {{form.non_field_errors}}
            </div>
        {% endif %}

    <input class='cursor-pointer bg-teal-500 p-2 hover:bg-teal-700 rounded-xl mt-6' type="submit" value='Közzététel'>

</form>
{% endblock body %}